@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.Footer {
  height: 89px;
  width: 100vw;
  background-color: #f2f2f2;
  text-align: center;
  align-content: center;
  display: table;

  h1 {
    color: #bababa;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    display: table-cell;
    vertical-align: middle;
  }
}
